@model Project

<h2>Создать проект</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Название проекта</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Описание проекта</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

     <div class="form-group">
        <label asp-for="Link">Ссылка на ГитХаб</label>
        <textarea asp-for="Link" class="form-control"></textarea>
    </div>

    <div>
        <label>Фото Проекта</label>
        <input type="file" name="UploadedFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>